<div id="user-form-container">

  @if (this.currentUser()) { <h1>Logged in as {{this.currentUser().name}}</h1> }
  @else if (!this.signUpMode) { <h1>Sign In</h1> }
  @else if (this.signUpMode) { <h1>Sign Up</h1> }


  @if (!this.currentUser()) {    
    <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
      <div>
        <label for="email">Email:</label>
        <input id="email" type="text" formControlName="email">
      </div>
  
      @if (this.signUpMode) {
      <label for="name">Name:</label>
      <input id="name" type="text" formControlName="name">
      }
  
      <div>
        <label for="password">Password:</label>
        <input id="password" type="text" formControlName="password">
      </div>
  
      @if (this.signUpMode) {
      <label for="password">Confirm Password:</label>
      <input id="password-confirmation" type="text" formControlName="passwordConfirmation">
    }
  
      <button type="submit">Submit</button>
      <button (click)="toggleButtonClicked()">
        @if (this.signUpMode) { Sign In } @else { Sign Up }
      </button>
      
    </form>
  }
  
  @if (this.currentUser()) {
    <button click="signOutButtonClicked">Sign Out</button>
  }

  @if(this.authLoading()) { <h1>Loading!</h1> }

</div>