
<section class="flex-container">
  <article>
    <h1>Mitch's Portfolio</h1>
    <h4>"You name it, I can build it"</h4>
    <p>
      Pragmatic problem solver experienced in Angular development, who entered the programming field from a
       background of 7 years of competitive puzzle solving. Mentally trained to find perfect solutions in the minum
       possible amount of time, resultimg in a highle productive programmer that can get a lot done in little time.
       Committed to never compromizing on code quality or best practives. Exceptional bug fixer. Loves a good challenge.
    </p>
    <h3>I am Currently Available for Hire</h3>
  </article>
</section>

<section>
  <article>
    <p>This is a breakdown of my tech experience broken down into categories. Larger bubbles indicate techs I have spent a larger share of my time with.</p>
    <mitchs-tech-chart />
  </article>
</section>

<section>
  <h2>Prior Experience</h2>
    <div class="job-container">
      <article>
        <h3>Tech Committee Chairman: Timpanogos Grotto</h3>
        <p>The Timpanogos Grotto is a chapter of the national Speleological Society, where I am managing all tech-related aspects of the organization. Current focuses include leading a team in the development of the organization's new website. Additionally, we are developing methodologies for handheld radio usage in backcountry cave location efforts as well as vertical caving communication. Further operations include the development of custom devices for cave research, which may be built around an Arduino or Raspberry Pi microcontroller using embedded software I designed.</p>
      </article>
      <div class="portfolio-item-container">
        @for (portfolioItem of portfolioItemsTimpGrotto; track portfolioItem.title) {
          <mitchs-portfolio-item [item]="portfolioItem"/>
        }
      </div>
    </div>
    <div class="job-container">
      <h3>Software Engineer: Telenotes</h3>
      <p>Telenotes Description Here</p>
      <div class="portfolio-item-container">
        @for (portfolioItem of portfolioItemsTelenotes; track portfolioItem.title) {
          <mitchs-portfolio-item [item]="portfolioItem"/>
        }
      </div>
    </div>
    <div class="job-container">
      <h3>Featured Projects</h3>
      <p>Personal and freelance projects that are deployed</p>
      <div class="portfolio-item-container">
        @for (portfolioItem of portfolioItemsFeatured; track portfolioItem.title) {
          <mitchs-portfolio-item [item]="portfolioItem"/>
        }
      </div>
    </div>

</section>
<section>
  <div class="job-container">
    <h2>Other Projects</h2>
    <div class="portfolio-item-container">
      @for (portfolioItem of portfolioItems; track portfolioItem.title) {
        <mitchs-portfolio-item [item]="portfolioItem" />
      }
    </div>
  </div>
</section>


<!-- <section class="flex-container">
  work history
  <article>
    <h2>Previous Job: Telenotes CRM</h2>
    <p>Angular</p>
    <p>description, image, list of contributions</p>
    <ul>
      <li>
        <h3>contribution</h3>
        <p>explanation</p>
      </li>
    </ul>
  </article>
</section>
<section class="flex-container">
  projects history
  <article>
    <h2>Current Project: This Website</h2>
    <ul>
      <h5>Techs Used</h5>
      <li>Angular 16</li>
      <li>AnalogJS Beta</li>
      <li>ThreeJS</li>
      <li>HTML/SCSS</li>
      <li>Typescript</li>
      <li>Git</li>
      <li>Supabase</li>
      <li>Nx</li>
    </ul>
    <p>Seeing the latest with Angular 16 and the Analog beta got me looking to build a project to try them all out. I also wanted a new personal website! So this project was born.</p>
  </article>
</section> -->

