
<div class="" style="
  display: flex;
  background-color: var(--clr-bg-secondary);
  justify-content: center;
  align-items: center;
  gap: 1rem;
">
  <a routerLink="/caving" routerLinkActive="active"><b>Caving</b></a>
  <a routerLink="/caving/gear" routerLinkActive="active">Gear</a>
  <a routerLink="/caving/gallery" routerLinkActive="active">Gallery</a>
  <a routerLink="/caving/cave-repair" routerLinkActive="active">Cave Formation Repair</a>
</div>

<router-outlet></router-outlet>

<!--
  TODO sections
  Gallery
  How-to
  safety/caveats
  Speleothem repair
  Bats/cave creatures
-->
