<header id="main-nav">
  <div class="nav-left">
    <div class="logo-container" routerLink="" routerLinkActive="active">
      <a class="nav-logo circle">M</a>
    </div>
    @if (!(this.environment() === "Prod")) {
      <P>{{this.environment()}}</P>
    }
  </div>
  <div class="nav-links links-center">
    <a routerLink="" routerLinkActive="active">Mitch Smoot</a>
    <a routerLink="/portfolio" routerLinkActive="active">Portfolio</a>
    <a routerLink="/blog" routerLinkActive="active">Blog</a>
    <a routerLink="/caving" routerLinkActive="active">Caving</a>
    <a HideInProd routerLink="/radio" routerLinkActive="active">Radio</a>
  </div>
  <div class="nav-links links-right">
    <a routerLink="/login" routerLinkActive="active">Sign In</a>
    <button class="dark-toggle" (click)="darkModeToggle()">
      @if (!this.isDarkModeActive()) {
        <img src="assets/svg/dark-mode.svg" />
      } @else {
        <img src="assets/svg/light-mode.svg" />
      }
    </button>
  </div>

</header>
