<header id="main-nav">
  <div class="flex-container">
    <div class="logo-container" routerLink="" routerLinkActive="active">
      <a class="nav-logo circle">M</a>
    </div>
  </div>
  <div class="flex-container nav-links links-center">
    <a routerLink="" routerLinkActive="active">Mitch's Website</a>
    <a routerLink="/portfolio" routerLinkActive="active">Portfolio</a>
    <a routerLink="/blog" routerLinkActive="active">Blog</a>
    <a routerLink="/caving" routerLinkActive="active">Caving</a>
    <a routerLink="/radio" routerLinkActive="active">Radio</a>
  </div>
  <div class="flex-container nav-links links-right">
    <a routerLink="/login" routerLinkActive="active">Sign In</a>
    <button class="dark-toggle" (click)="darkModeToggle()">
      <img *ngIf="this.isDarkModeActive()" src="/svg/light-mode.svg" />
      <img *ngIf="!this.isDarkModeActive()" src="/svg/dark-mode.svg" />
    </button>
  </div>

</header>