<section>
  <h1>Mitch's Amateur Radio Page</h1>
  <article>
    <p>Amateur radio is a fun and useful skill if you have any hobbies that involve traveling out into the backcountry.</p>
  </article>
</section>
<section>
  <table>
    <h2>Radio Services Comparison</h2>
    <tr>
      <th>Radio Service</th>
      <th>License Requirements</th>
      <th>Maximum Power Output</th>
      <th>Antenna</th>
      <th>Channel/frequency range</th>
      <th>Propogation methods</th>
      <th>Effective talking distance</th>
      <th>Common Use Cases</th>
      <th>Price</th>
    </tr>
    <tr>
      <td>FRS</td>
      <td>None</td>
      <td>0.5 watts</td>
      <td>Inefficient Stub. Custon antennas not allowed</td>
      <td>22 Channels</td>
      <td>Line of sight</td>
      <td>Less than 1 mile</td>
      <td>Walkie Talkies</td>
      <td>$20-$300</td>
    </tr>
    <tr>
      <td>GMRS</td>
      <td>License required. $35 to purchase. No test required.</td>
      <td>5 watts (Handleld), 50 watts (Mobile)</td>
      <td>Custom antennas allowed, with limits</td>
      <td>30 Channels</td>
      <td>Line of sight, Repeater</td>
      <td>Handleld: a few miles. Mobile: ~10 miles. more with repeater</td>
      <td>Truckers, Hunting, Jeeping, Hobby</td>
      <td>$20-$300</td>
    </tr>
    <tr>
      <td>CB</td>
      <td>None</td>
      <td>4.5 watts</td>
      <td>Custom antennas allowed, with limits</td>
      <td>40 Channels</td>
      <td>Line of sight, Sky wave</td>
      <td>A few miles. Sky wave: hundreds of miles, requires very high solar flux.</td>
      <td>Truckers</td>
      <td>$70 to thousands</td>
    </tr>
    <tr>
      <td>Ham VHF/UHF</td>
      <td>License required. $35. Must pass test (about 10 study hours required)</td>
      <td>5-10 watts (handleld) 200 watts (mobile or base station)</td>
      <td>Custom antennas allowed, with generous limits</td>
      <td>Many frequencies</td>
      <td>Line of sight, Repeater</td>
      <td>Handheld: a few miles. Repeater: Dozens of miles.</td>
      <td>emergency prep, hunting, jeeping, hobby</td>
      <td>$25-$500</td>
    </tr>
    <tr>
      <td>Ham HF</td>
      <td>Must pass two tests. (about 30 hours of study required).</td>
      <td>Up to 1500 watts (base station)</td>
      <td>Custom antennas allowed, with generous limits</td>
      <td>Many more frequencies</td>
      <td>Ground wave, Sky wave</td>
      <td>Ground wave: 10-30 miles depending on terrain. Sky Wave: Hundreds or thousands of miles regardless of solar flux. </td>
      <td>Hobby, competition, emergency prep</td>
      <td>$600-$2000 or much higher</td>
    </tr>
  </table>
</section>


<!-- <highcharts-chart
  [Highcharts]="Highcharts"

  [constructorType]="chartConstructor"
  [options]="chartOptions"

  [(update)]="updateFlag"
  [oneToOne]="oneToOneFlag"

  style="width: 100%; height: 400px; display: block;"
></highcharts-chart> -->


<!-- <div class="flex-container">
  <img src="https://www.hamqsl.com/solarn0nbh.php">
  <img src="https://services.swpc.noaa.gov/images/swx-overview-small.gif">
</div>
<div class="flex-container">
  <img src="https://www.hamqsl.com/solargraph.php">
</div> -->
