<div class="flex-container">
  <h2 routerLink="/caving" routerLinkActive="active">Caving</h2>
</div>
<div class="flex-container">
  <div class="flex-container sidebar" style="flex-direction: column;">
    <a routerLink="/caving/gear" routerLinkActive="active">Caving Gear</a>
    <a routerLink="/caving/gallery" routerLinkActive="active">Cave Gallery</a>
  </div>
</div>
<router-outlet></router-outlet>

<!--
  TODO sections
  Gallery
  How-to
  safety/caveats
  Speleothem repair
  Bats/cave creatures
-->
