@import url(../../../styles.scss);

.media-scroller {
  display: grid;
  gap: 1rem;
  grid-auto-flow: column;
  grid-auto-columns: 23%;
  overflow-x: auto;
  overscroll-behavior-inline: contain;
  padding: 1rem 0;
}

.media-element {
  height: 15rem;
  width: auto;

  display: grid;
  grid-template-rows: min-content;
  gap: 1rem;
  background: var(--clr-bg-secondary);
  border-radius: .5rem;
  box-shadow: 0 0 .5rem .25rem rgba(0, 0, 0, .25);
  img {
    border-radius: .5rem;
    max-width: 100%;
    max-height: 100%;
    vertical-align: middle;
    object-fit: cover;
    object-position: center;
  }
}

.inline-snap {
  scroll-snap-type: inline mandatory;
  scroll-padding-inline: 1rem;
 * {
  scroll-snap-align: center;
 }
}