<div id="post-form-container">

  <form [formGroup]="postForm" (ngSubmit)="onSubmit()">

    <label for="title">Title: </label>
    <input id="title" type="text" formControlName="title">
  
    <label for="content">Content: </label>
    <input id="content" type="text" formControlName="content">

    <div class="flex justify-center">
      <label for="topics">Select Topics: </label>
      <div *ngFor="let topic of this.topics" class="flex items-center">
        <input id="${topic.id}" type="button" name="${topic.name}" class="">
        <label for="${topic.id}" class="">{{topic.name}}</label>
      </div>
    </div>

    <button type="submit">Submit</button>

  </form>


</div>