<section>
  <h1>Mitch's Amateur Radio Page</h1>
  <h2>(Work in Progress)</h2>
  <article>
    <p>Amateur radio is a fun and useful skill if you have any hobbies that involve traveling out into the backcountry, or if you are interested in emergency preparation.</p>
  </article>
</section>
<section>
  <article>
    <h2>Key Concepts of Radio</h2>
    <h3>Radio Waves</h3>
    <p>Radio waves are a form of electromagnetic radiation, a category that also includes microwaves, visible light, ultraviolet rays, and more. Of all types of electromagnetic radiation, radio waves have the longest wavelength and contain the least amount of energy. </p>
    <h3>Frequency and wavelength</h3>
    <h3>Antenna</h3>
    <p>Radio waves are transmitted and recieved through an antenna. For greatest efficiency, the electrical length of the antenna should be half of the wavelength. Certain other length ratios are also effective, but outside of these ratios, antennas become significantly less sensitive to a particular wavelength. When it comes to determining transmission and reception range, the antenna of the transmitter is even more important than having higher output wattage.</p>
    <h3>Wave Propogation</h3>
    <p>Radio waves can travel in many different ways.</p>
    <ul>
      <li>Line of Sight</li>
      <li>Ground Wave Propogation</li>
      <li>Sky Wave Propogation</li>
      <li>Other types of propogation</li>
    </ul>
    <h3>How far will it talk?</h3>
    <p>Transmission range is affected by a few factors, such as transmission wattage, antenna length, wavelength, topography, and propogation.</p>
  </article>
  <article>
    <h2>Radio Types</h2>
    <p>There are several radio services to choose from.</p>
    <h3>FRS (Family Radio Service) AKA "Walkie Talkies"</h3>
    <p> Normal walkie talkies, like what you would find at Wal-Mart, Costco, or Amazon are classified as FRS (Family Radio Service) radios. They are restricted to 0.5 watts output and their antenna </p>
    <h3>MURS (Multiple Use Radio Service)</h3>
    <p>MURS radios are popular among businesses, and they have some advantages over FRS radios.</p>
    <h3>CB (Citizen's Band)</h3>
    <p>CB radio is a classic radio service, mostly mounted on vehicles.CB Radio burst into popularity in the 1970s, first among truckers, and then the general population.</p>
    <h3>GMRS (General Mobile Radio Service)</h3>
    <p>GMRS is a licensed radio service with access to the same 22 frequencies as FRS, plus 8 extra channels. To obtain a GMRS license, you simply have to pay a $35 fee to the FCC. GMRS radios and FRS "walkie talkies" can communicate to eachother two ways at a little beyond walkie talkie range. GMRS Radios can communicate with each other at significantly longer ranges than walkie talkies, due to increased power output and more efficient antennas. GMRS is seen my some as the new replacement for CB radio. Many truckers are switching to GMRS, but it is still not as popular as CB was in its golden age.</p>
    <h3>...And then there's Ham Radio</h3>
    <p></p>
    <h3>Ham (VHF/UHF)</h3>
    <p>Every Ham radio operator starts with the Technician certification, granting them use of the VHF (Very High Frequency) and UHF (Ultra High Frequency) spectrums. These radio frequencies perform similar to those of</p>
    <h3>Ham (HF)</h3>
    <p>The heart of Ham Radio is what happens on the HF (High Frequency) spectrum. The HF wavelengths extend from the 10 meter band to the 80 meter band. This frequency range is special due to its suitability for skywave propogation. On these bands you can regularly communicate with other ham operators hundreds or even thousands of miles away.</p>
  </article>
  <table>
    <h2>Radio Services Comparison</h2>
    <tr>
      <th>Radio Service</th>
      <th>License Requirements</th>
      <th>Maximum Power Output</th>
      <th>Antenna</th>
      <th>Channel/frequency range</th>
      <th>Propogation methods</th>
      <th>Effective talking distance</th>
      <th>Common Use Cases</th>
      <th>Price</th>
    </tr>
    <tr>
      <td>FRS</td>
      <td>None</td>
      <td>0.5 watts</td>
      <td>Inefficient Stub. Custom antennas not allowed</td>
      <td>22 Channels</td>
      <td>Line of sight</td>
      <td>Less than 1 mile</td>
      <td>Walkie Talkies</td>
      <td>$20-$300</td>
    </tr>
    <tr>
      <td>GMRS</td>
      <td>License required. $35 to purchase. No test required.</td>
      <td>5 watts (Handleld), 50 watts (Mobile)</td>
      <td>Custom antennas allowed, with limits</td>
      <td>30 Channels</td>
      <td>Line of sight, Repeater</td>
      <td>Handleld: a few miles. Mobile: ~10 miles. more with repeater</td>
      <td>Truckers, Hunting, Jeeping, Hobby</td>
      <td>$20-$300</td>
    </tr>
    <tr>
      <td>CB</td>
      <td>None</td>
      <td>4 watts</td>
      <td>Custom antennas allowed, with limits</td>
      <td>40 Channels</td>
      <td>Line of sight, Sky wave</td>
      <td>A few miles. Sky wave: hundreds of miles, requires very high solar flux.</td>
      <td>Truckers</td>
      <td>$70 to thousands</td>
    </tr>
    <tr>
      <td>Ham VHF/UHF</td>
      <td>License required. $35. Must pass test (about 10 study hours required)</td>
      <td>5-10 watts (handleld) 200 watts (mobile or base station)</td>
      <td>Custom antennas allowed, with generous limits</td>
      <td>Many frequencies</td>
      <td>Line of sight, Repeater</td>
      <td>Handheld: a few miles. Repeater: Dozens of miles.</td>
      <td>emergency prep, hunting, jeeping, hobby</td>
      <td>$25-$500</td>
    </tr>
    <tr>
      <td>Ham HF</td>
      <td>Must pass two tests. (about 30 hours of study required).</td>
      <td>Up to 1500 watts (base station)</td>
      <td>Custom antennas allowed, with generous limits</td>
      <td>Many more frequencies</td>
      <td>Ground wave, Sky wave</td>
      <td>Ground wave: 10-30 miles depending on terrain. Sky Wave: Hundreds or thousands of miles regardless of solar flux. </td>
      <td>Hobby, competition, emergency prep</td>
      <td>$600-$2000 or much higher</td>
    </tr>
  </table>

</section>
<section>
  <h2>GMRS Certification</h2>
  <p>GMRS certifiation is a simple process, all you have to do is read the rules then pay a fee of $35.<a href="https://www.fcc.gov/wireless/support/knowledge-base/universal-licensing-system-uls-resources/applying-new-license">Get Certified Here</a></p>
  <h2>Ham Radio Certification</h2>
  <p>Ham radio certification is a longer process, with multiple levels. Basic certification requires passing of a test. Expect to undergo about 10 hours of study to have a good shot at passing. Additional levels require more difficult tests. The <a href="https://www.arrl.org/getting-licensed">ARRL Website</a>is a great place to get started.</p>
</section>


<!-- <highcharts-chart
  [Highcharts]="Highcharts"

  [constructorType]="chartConstructor"
  [options]="chartOptions"

  [(update)]="updateFlag"
  [oneToOne]="oneToOneFlag"

  style="width: 100%; height: 400px; display: block;"
></highcharts-chart> -->


<!-- <div class="flex-container">
  <img src="https://www.hamqsl.com/solarn0nbh.php">
  <img src="https://services.swpc.noaa.gov/images/swx-overview-small.gif">
</div>
<div class="flex-container">
  <img src="https://www.hamqsl.com/solargraph.php">
</div> -->
