#main-nav {
  background-color: var(--clr-bg-accent);
  display: grid;
  grid-template-columns: 25% 50% 25%;
  align-items: center;
  height: 3rem;
  div {
    margin: 0px 1rem;
    display: flex;
    align-items: center;
  }
}

.nav-links a {
  border-bottom: .2rem solid transparent;
}

.nav-links a:hover,
.nav-links a:focus {
  color: var(--clr-text-accent);
  border-bottom: .2rem solid var(--clr-text-accent);
}

.mitch-logo {
  height: 60px;
  margin-top: -6px;
  position: absolute;
  top: 0;
  left: 1rem;
  cursor: pointer;
}

.nav-left {
  grid-column: 1;
}

.links-center {
  grid-column: 2;
  justify-content: center;
  gap: 1rem;
}

.links-right {
  grid-column: 3;
  justify-content: end;
  gap: 2rem;
  padding-left: 1rem;
}

.dark-toggle {
  display: block;
  height: 2rem;
  width: 2rem;
  border: 2px solid red;
  border-radius: .5rem;
  background-color: greenyellow;
  color: black;
  padding: 0;
  img {
    margin: auto;
    width: 1.25rem;
    height: 1.25rem;    
  }
}

@media (max-width: 599px) {
  .active {
    display: none;
  }
  .mitch-logo {
    left: 0;
  }
}