<section class="entry-section">
  <h1>Caving</h1>
  <h3>Exploring the Unknown, Protecting the Known</h3>
  <article>
    <p>
      Welcome to my personal caving site! I am a caver based in the Western US, and I love exploring caves and learning about the underground world. I am also passionate about protecting caves and their unique environments. I have been caving since 2022, as a member of the Timpanogos Grotto, a chapter of the National Speleological Society. To learn more or join yourself, visit <a href="http://www.caves.org">Caves.org.</a>
    </p>
    <div class="logo-container">
      <img id="tg-logo" src="assets/img/TimpGrottoLogo.png">
      <img id="nss-logo" src="assets/img/NSSLogo.png">
    </div>
  </article>
</section>

<section>
  <media-scroller [media]="galleryPreviewImages"/>
  <h4 routerLink="/caving/gallery" routerLinkActive="active">View my complete gallery</h4>
</section>
<section>
  <article>
    <h3>Caving Responsibly</h3>
    <p>
      Caving, while a fun and exciting activity, can be dangerous. It is important to come prepared with the right gear and knowledge. Caves are also very delicate, and must be protected for future generations. 
    </p>
    <a routerLink="/caving/gear" routerLinkActive="active">Lear more about caving gear</a>
  </article>
</section>