#blog-container {
  width: min(120ch, 100% - 4rem);
  margin-inline: auto;
  font-family: system-ui;
  font-size: 1.125rem;
  line-height: 1.5;
}

button {
  padding: 6px;
  border: solid grey 2px;
  border-radius: 4px;
}

h1 {
  @apply flex justify-center text-2xl font-bold my-4;
}