<div id="main-nav">
  <div class="logo-container" routerLink="" routerLinkActive="active">
    <a class="nav-logo">M</a>
  </div>
  <p routerLink="" routerLinkActive="active">Mitch's Website</p>
  <div class="nav-bar-item-container">
    <div class="nav-bar-items">
      <a routerLink="/portfolio" routerLinkActive="active">Portfolio</a>
      <a routerLink="/blog" routerLinkActive="active">Blog</a>
      <a routerLink="/nx" routerLinkActive="active">NX Welcome</a>
      <a routerLink="/caving" routerLinkActive="active">Caving</a>
      <a routerLink="/radio" routerLinkActive="active">Radio</a>
      <a routerLink="/auth" routerLinkActive="active">Sign In</a>
    </div>
  </div>
</div>