#main-nav {
  background-color: var(--clr-bg-accent);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 32px;
  div {
    margin: 0px 20px;
  }
}

.nav-links a {
  --gap: 2rem;
}

.nav-logo {
  padding: 0px 5px;
  border: 2px solid red;
  background-color: greenyellow;
  color: black;
}