#main-nav {
  background-color: rgb(85, 90, 75);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 32px;
  div {
    margin: 0px 20px;
  }
}

.nav-bar-items {
  @apply flex;
  a {
    @apply mx-4;
  }
}

.nav-logo {
  padding: 0px 3px;
  border: 2px solid red;
  border-radius: 12px;
  background-color: greenyellow;
}