<header id="main-nav">
  <div class="logo-container" routerLink="" routerLinkActive="active">
    <a class="nav-logo circle">M</a>
  </div>
  <a routerLink="" routerLinkActive="active">Mitch's Website</a>
  <div class="nav-bar-item-container">
    <div class="flex-container nav-links">
      <a routerLink="/portfolio" routerLinkActive="active">Portfolio</a>
      <a routerLink="/blog" routerLinkActive="active">Blog</a>
      <a routerLink="/caving" routerLinkActive="active">Caving</a>
      <a routerLink="/radio" routerLinkActive="active">Radio</a>
      <a routerLink="/login" routerLinkActive="active">Sign In</a>
    </div>
  </div>
</header>