/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

img, svg, video {
  max-width: 100%;
  display: block;
}

* {
  margin: 0
}