/* Custom Variables */
:root {

  --clr-bg-primary: #fff;
  --clr-bg-secondary: #eee;
  --clr-bg-accent: rgb(140, 148, 124);
  --clr-bg-white: #fff;
  --clr-text-primary: #333;
  --clr-text-accent: #e9cf59;
  --clr-text-black: #000;

  --fs-text: 1.2rem;
  --fs-heading-l: 2.5rem;
  --fs-heading-m: 2rem;
  --fs-heading-s: 1.65rem;

  --ff-serif: 'Roboto Slab', serif;
  --ff-sans: 'Roboto', sans-serif;

  .dark {
    --clr-bg-primary: #333;
    --clr-bg-secondary: #555;
    --clr-bg-accent: rgb(85, 90, 75);
    --clr-bg-white: #fff;
    --clr-text-primary: #ddd;
    --clr-text-accent: #e9cf59;
    --clr-text-black: #000;
  }
}

/* Global Resets */

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0
}

/* Global Styles */

img, svg, video {
  max-width: 100%;
  display: block;
}

body {
  line-height: 1.5;
  min-height: 100vh;
  background-color: var(--clr-bg-primary);
  color: var(--clr-text-primary);
  font-family: var(--ff-sans);
}

/* remove animations for those who have them disabled in browser */
@media (prefers-reduced-motion: reduce) {  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* --------------- */
/* Utility Classes */
/* --------------- */

/* Layouts */

.container {
  max-width: 80rem;
  margin-inline: auto;
  padding-inline: 2rem;
}

.card {
  background-color: var(--clr-bg-secondary);
  border-radius: 0.5rem;
  padding: 1rem;
  box-shadow: 0 0 0.5rem 0.25rem rgba(0, 0, 0, 0.25);
  transition: transform 0.25s ease-in-out;
  &:hover {
    transform: scale(1.05);
  }
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: var(--gap, 1rem);
  * {
    flex: 1 1 auto;
  }
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: var(--gap, 1rem);
}

.space-vertically > *:where(:not(:first-child)) {
  margin-top: var(--flow-space, 1rem);
}

.circle {
  aspect-ratio: 1;
  border-radius: 50%;
  display: grid;
  place-items: center;
  padding: 0 1em;
}

/* Component Classes */

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  display: flex;
  justify-content: center;
}

h1 {
  font-size: var(--fs-heading-l);
  padding: 2rem 1rem
}

h2 {
  font-size: var(--fs-heading-m);
  padding: 1rem 0.5rem
}

h3 {
  font-size: var(--fs-heading-s);
  padding: .5rem 0.2rem;
}

a {
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  color: var(--clr-text-accent);
}

p {
  font-size: var(--fs-text);
  padding: 0.5rem 0.2rem;
  letter-spacing: 1px;
}

th {
  font-weight: bold;
  text-align: left;
  padding: 0.5rem 0.3rem;
  background-color: var(--clr-bg-accent);
  border: 1px solid var(--clr-bg-primary);
}

td {
  padding: 0.5rem 0.3rem;
  background-color: var(--clr-bg-secondary);
  border: 1px solid var(--clr-bg-primary);
}

li {
  padding: 0.5rem 0.3rem;
}

article {
  max-width: 80rem;
  margin-inline: auto;
  padding-inline: 2rem;
}

dialog {
  padding: 0.5rem;
  margin: auto;
  border-radius: 0.7rem;
}

dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.4);
}