<div id="home-container">
  <section>
    <h1>Welcome to my website!</h1>
    <div>
      <ul>
        <h4>My Links</h4>
        <li><a href="https://github.com/mitchsmoot" target="_blank">Github</a></li>
        <li><a href="https://www.linkedin.com/in/mitch-smoot/" target="_blank">LinkedIn</a></li>
      </ul>
    </div>
  </section>

  <section>
    <h1>About Me</h1>

  </section>

  <section>
    <h1>Cool and/or relevant pics of me</h1>
  </section>

  <section>
    <h1>Puzzles</h1>
  </section>

  <section>
    <h1>Cave section</h1>
  </section>

  <section>
    <h1>My Skills</h1>
    <p>(list of tech skills and amount of years each)</p>
  </section>

  <section>
    <h1>Check Out My Portfolio</h1>
    <a routerLink="/portfolio" routerLinkActive="active">Link</a>
  </section>
</div>