<section class="container">
  <h1>Mitch's Portfolio</h1>
  <h3>Available for Hire</h3>
  <p>Text description on what will make me an amazing employee</p>
</section>
<section>
  <!-- work history -->
  <h2>Previous Job</h2>
  <p>techs used</p>
  <p>description, image, list of contributions</p>
  <ul>
    <li>
      <h3>contribution</h3>
      <p>explanation</p>
    </li>
  </ul>
</section>
<section>
  <!-- projects history -->
  <div>
    <h2>project name</h2>
    <p>techs used</p>
    <p>description</p>
  </div>
</section>