.full-section {
  padding: 0;
  margin: 0;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#main-text {
  position: absolute;
  top: 0;
  pointer-events: none;
  display: flex;
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
  font-size: 5rem;
  font-weight: 600;
  margin: auto;
  text-align: center;
  color: var(--clr-text-primary);
  h1 {
    font-size: 10rem;
  }
}

.mitch {
  background-color: var(--clr-bg-secondary);
  z-index: -1;

  &-content {
    z-index: 1;
    &-text {
      font-size: 2rem;
    
    }
  }

}

section {
  padding: 2rem 2rem;
}

.diagonal {
  position: relative;
  isolation: isolate;
  --skew: -3deg
}

.diagonal::after {
  content: '';
  background-image:
    linear-gradient(
      45deg,
      var(--clr-bg-secondary),
      var(--clr-bg-accent)
    );
  position: absolute;
  z-index: 0;
  inset: 0;
  transform: skewY(var(--skew));
}

.intro-slider {

  position: absolute;
  height: 100vh;
  z-index: -3;
  overflow: hidden;
  white-space: nowrap;
  margin: 0rem;
  display: flex;
  flex-direction: row;
  .slider-section {
    align-items: start;
    display: flex;
    flex-direction: row;
    div {
      z-index: -3;
      display: block;
      font-weight: 600;
      font-size: 3rem;
      margin-inline: 3rem;
      color: #555;
    }
  }
  .slide {
    animation: slide 60s linear infinite;
  }
  .slide-reverse {
    animation: slideReverse 60s linear infinite;
  }
}

#cubing-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

button {
  background-color: greenyellow;
  border: none;
}

.w0 {
  margin-top: 0;
}

.w1 {
  margin-top: 6.25vh;
}

.w2 {
  margin-top: 12.5vh;
}

.w3 {
  margin-top: 18.75vh;
}

.w4 {
  margin-top: 25vh;
}

.w5 {
  margin-top: 31.25vh;
}

.w6 {
  margin-top: 37.5vh;
}

.w7 {
  margin-top: 43.75vh;
}

.w8 {
  margin-top: 50vh;
}

.w9 {
  margin-top: 56.25vh;
}

.w10 {
  margin-top: 62.5vh;
}

.w11 {
  margin-top: 68.75vh;
}

.w12 {
  margin-top: 75vh;
}

.w13 {
  margin-top: 81.25vh;
}

.w14 {
  margin-top: 87.5vh;
}

.w15 {
  margin-top: 93.75vh;
}

