<section id="entry-section">
  <div class="container">
    <h1>Welcome to my website!</h1>
    <p>Entry Paragraph Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent non condimentum dolor. Nulla feugiat venenatis arcu non condimentum. Pellentesque sit amet tempor erat, id tempor ligula. Fusce nec malesuada turpis. Fusce consectetur, metus ut mattis accumsan, lorem sapien pulvinar turpis, vehicula congue purus orci ut ante. Interdum et malesuada fames ac ante ipsum primis in faucibus. Sed nec felis lorem. Mauris tristique gravida ligula, ac elementum felis viverra vitae. Curabitur sed dictum erat.</p>
  
  </div>
</section>

<section class="container">
  <h2>About Me</h2>
  <p>Paragraph about me Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent non condimentum dolor. Nulla feugiat venenatis arcu non condimentum. Pellentesque sit amet tempor erat, id tempor ligula. Fusce nec malesuada turpis. Fusce consectetur, metus ut mattis accumsan, lorem sapien pulvinar turpis, vehicula congue purus orci ut ante. Interdum et malesuada fames ac ante ipsum primis in faucibus. Sed nec felis lorem. Mauris tristique gravida ligula, ac elementum felis viverra vitae. Curabitur sed dictum erat.</p>
  <p>Scroll further to learn more about my hobbies</p>
</section>
<!-- 

<section>
  <h1>Cool and/or relevant pics of me</h1>
</section>

<section>
  <h1>Puzzles</h1>
  <p>WCA Records</p>
</section>

<section>
  <h1>Cave section</h1>
</section>

<section>
  <h1>My Skills</h1>
  <p>(list of tech skills and amount of years each)</p>
</section>

<section>
  <h1>Check Out My Portfolio</h1>
  <a routerLink="/portfolio" routerLinkActive="active">Link</a>
</section>

-->

<footer>
  <ul>
    <li><a href="https://github.com/mitchsmoot" target="_blank">Github</a></li>
    <li><a href="https://www.linkedin.com/in/mitch-smoot/" target="_blank">LinkedIn</a></li>
  </ul>
</footer>
