<section id="entry-section">
  <div id="intro-slider">
    <div class="slider-section">
      <span>Hardcore Hobbyist</span>
      <span>Competitive Puzzle Solver</span>
      <span>Intrepid Cave Explorer</span>
      <span style="color: greenyellow"> Mitch Smoot</span>
      <span>Pragmatic Programmer</span>
      <span>Amateur Radio Operator</span>
      <span>Space Enthusiast</span>
    </div>
    <div class="slider-section">
      <span>Hardcore Hobbyist</span>
      <span>Competitive Puzzle Solver</span>
      <span>Intrepid Cave Explorer</span>
      <span style="color: greenyellow"> Mitch Smoot</span>
      <span>Pragmatic Programmer</span>
      <span>Amateur Radio Operator</span>
      <span>Space Enthusiast</span>
    </div>
  </div>
</section>

<section class="diagonal">
  <div class="container">
    <h2>About Me</h2>
    <p>
      I write code, I am a twin, I was raised by thrill seekers, I dig being underground, at age 15 I got my ham radio license and my favorite store was Ra-Elco Electronics, I can solve a rubix cube in under 15 seconds, my favorite food is cheese, been down the Grand Canyon river twice, am passionate about constant learning and discovery and I am a thrill seeker.
    </p>
    <p>Scroll further to learn more about my hobbies</p>
    <button>Check out my portfolio!</button>
  </div>
</section>

<section>
  <div class="container flex-container">
    <div style="width: 40%">
      <h2>Puzzle Enthusiast</h2>
        <p>
          I have been a lifelong enjoyer of puzzles,and a two time competitor in the CubingUSA National Championship. This was my entry into logical problem solving, before learning to direct this energy towards programming as my career of choice.


        </p>
    </div>
    <div class="card" style="width: 40%">
      <h3>My fastest times</h3>
      <table>
        <tr>
          <th>Puzzle</th>
          <th>Fastest solve</th>
          <th>Best Average</th>
        </tr>
        <tr>
          <td>2x2</td>
          <td>3.59</td>
          <td>6.76</td>
        </tr>
        <tr>
          <td>3x3</td>
          <td>15.46</td>
          <td>22.35</td>
        </tr>
        <tr>
          <td>4x4</td>
          <td>1:24.66</td>
          <td>1:39.37</td>
        </tr>
        <tr>
          <td>Clock</td>
          <td>16.47</td>
          <td>27.00</td>
        </tr>
        <tr>
          <td>Megaminx</td>
          <td>1:38.51</td>
          <td>1:41.21</td>
        </tr>
      </table>
      <a href="https://www.worldcubeassociation.org/persons/2011SMOO01" target="_blank">View my WCA Profile!</a>
    </div>
    <p>background three.js rubiks cube animation</p>
  </div>
</section>

<section class="diagonal" style="--skew: 1deg">
  <div class="container">
    <h2>Pragmatic Programmer</h2>
    <p>Sell them on my programming skills</p>
  </div>
</section>

<section id="cave-section">
  <div>
    <h2>Cave Explorer</h2>
    <p>Being a true intrepid explorer, caving is one of my favorite to spend a weekend check out my dedicated caving section!</p>
    <p>(three.js animation moving through cave on scroll)</p>
    <p>(Or just a video background)</p>
  </div>
</section>

<section class="diagonal" style="--skew: -2deg">
  <div class="container">
    <h2>Radio Operator</h2>
    <p>(picturesque background pic of me with radio set up)</p>

  </div>
</section>

<footer>
  <ul>
    <li><a routerLink="portfolio" routerLinkActive="active">Portfolio</a></li>
    <li><a href="https://github.com/mitchsmoot" target="_blank">Github</a></li>
    <li><a href="https://www.linkedin.com/in/mitch-smoot/" target="_blank">LinkedIn</a></li>
  </ul>
</footer>
