<h1>Freelance</h1>
<h2>(Page is work in progress)</h2>

<p>
  I am currently offering freelance work. Do you need a website? I can build it. Is your old wordpress site giving you problems? I can replace it. If you have a design, I can implement it as a web page with pixel perfection. No design? I can design it myself, following as little or as much guidance as you wish to provide.
</p>


<h2>Why coded sites beat wordpress sites</h2>
<ul>
  <li>Faster page loading times</li>
  <li>Better Security</li>
  <li>Better SEO (Search Engine Optimization)</li>
  <li>Cheaper server costs</li>
  <li>Fully customized appearance, not bound to themes</li>
</ul>

<h2>Static Website features</h2>
<ul>
  <li>Very fast page loading times</li>
  <li>Custom Styles</li>
  <li>Runs fast on any device</li>
</ul>
<h2>What about a full web application?</h2>
<p>Does you need full-stack app functionality? I can also do that, but it will take longer and cost more than a static website.</p>

<h2>How much will it cost?</h2>
<p>While I get my business up and running, I am willing to work for a low price as I try to attract my initial customers. Let's talk about it and we can find a deal that is worth it to you.</p>

<h2>Example Projects</h2>
<ul>
  <li><a href="http://www.estatelandscaping.org">Estate Landscaping</a></li>
</ul>