<h1>Freelance</h1>

<p>
  I am currently offering freelance work. Do you need a website? I can build it. Is your old wordpress site giving you problems? I can replace it. If you have a design, I can implement it as a web page with pixel perfection. No design? I can design it myself, following as little or as much guidance as you wish to provide.
</p>


<h2>Why coded sites beat wordpress sites</h2>
<ul>
  <li>Faster page loading times</li>
  <li>Better Security</li>
  <li>Better SEO (Search Engine Optimization)</li>
  <li>Cheaper server costs</li>
  <li>Fully customized appearance, not bound to themes</li>
</ul>
<h2>What about a full web application?</h2>

<h2>How much will it cost?</h2>